* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #383838;
    color: azure;
    padding-top: 40px;
    padding-bottom: 40px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-size: 40px;
    text-align: center;
}

input {
    width: 250px;
    height: 50px;
    background-color: black;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

textarea {
    width: 400px;
    height: 300px;
    background-color: black;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

button {
    width: 250px;
    height: 50px;
    background-color: black;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 20px;
}